* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --main-border-color: gainsboro;
  --main-button-color: #e70;
  --stars-color: gold;
}

.product-container {
  display: flex;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  flex-wrap: wrap;
  min-width: 340px;
  border: 1px solid var(--main-border-color);
  justify-content: space-between;
}

.product__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 15px;
  width: 50%;
  min-width: 240px;
}

.product__title {
  font-size: 25px;
  font-weight: 600;
}

.product__title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product__description-text {
  font-size: 18px;
  height: 70px;
}

.product__img-container {
  max-width: 200px;
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  overflow: hidden;
}

.product__img {
  height: 100%;
  position: relative;
  right: 50%;
}

.product__raiting {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 30px;
  color: var(--main-border-color);
  font-size: 30px;
  line-height: 75%;
  position: relative;
}

.product__raiting::before {
  position: absolute;
  content: "★★★★★";
  color: var(--main-border-color);
}

.product__rating_active {
  display: flex;
  width: 70%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.product__rating_active::before {
  position: absolute;
  content: "★★★★★";
  color: var(--stars-color);
}

.product__raiting span {
  position: absolute;
  font-size: 25px;
  right: -50px;
  font-size: 80%;
}

.product__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 0 0 0 auto;
}

.product__price span {
  padding-top: 5px;
  display: block;
  min-width: fit-content;
  font-weight: 600;
}

.add {
  display: block;
  width: 150px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  background-color: var(--main-button-color);
  border-radius: 5px;
  font-size: 15px;
  color: white;
  padding-top: 5px;
}

@media (max-width: 440px) {
  .product__img-container,
  .product__description {
    max-width: 100%;
    width: 100%;
  }

  .product__description {
    padding: 0;
    margin-top: 10px;
  }

  .product__price {
    margin-top: 10px;
  }

  .product__description-text {
    height: fit-content;
    margin: 15px 0;
  }

  .product__img {
    height: 100%;
    right: 0;
  }
}
