main {
  flex: 1 1 auto;
}

.not-found__container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
}

.not-found__img {
  display: block;
  height: 500px;
  flex: 1 1 auto;
  margin: 0 auto auto;
}

.not-found__text {
  font-size: 34px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 70px auto 0;
  color: #3e4753;
}
